.login-page{
    max-width: 500px;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 30px;
    height: auto;
    margin: auto;
}
.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
}
.login-page form input,
.login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
.login-page form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-page form button{
    border-radius: 15px;
    background-color: #f02d34;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.login-page form a{
    border: 1px solid #f02d34 ;
    border-radius: 15px;
    background-color: white;
    color: #f02d34;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 7px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid #f02d34;
    color: #f02d34;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%,-20%);
    height: auto;
    font-size: 12px;
  }